JWT_SECRET=hotelsync_jwt_secret_2025
KAFKA_BROKER=localhost:9092

USERS_PORT=50051
BOOKINGS_PORT=50052
NOTIFS_PORT=50053
GATEWAY_PORT=4000

USERS_ADDR=localhost:50051
BOOKINGS_ADDR=localhost:50052
NOTIFS_ADDR=localhost:50053
